# General
.DS_Store
Thumbs.db

# Env
backend/.env

# Flutter/Dart
mobile/.dart_tool/
mobile/.packages
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.metadata
mobile/pubspec.lock

# Android/iOS generated artifacts
mobile/android/.gradle/
mobile/android/app/debug/
mobile/android/app/profile/
mobile/android/app/release/
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/ios/Flutter/Flutter.framework
mobile/ios/Flutter/Flutter.podspec
